*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

div.contenedor {
  position: fixed;
  bottom:40%;
  left: 30%;
  right: 90%;
  margin-left: -104.5px;
}
.nav-position{
    justify-content: flex-end
}
