.buttongrey{ 
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.card-sneakers{
    height: 400px;
    object-fit: cover;
    width: 100px;
    padding:15px 15px 15px 15px;    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:40px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgb(232, 231, 231);
}

.list-buy-button{
    float: right;
    margin-left: 5px;
}

.list-info-button{
    float: right;
}

.list-card-price {
    padding-top: 5px;
    font-size: 18px;
}

#cardTitle {
    font-size: 15px;
}

#text-col{
    margin-top: 45px
}

.list-card-bg {
    background-color: #f8f9fa;
}
