.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 10%;
    text-decoration: none;
} 

.contenedor:hover {
    background-color: rbga(1,1,1,0.5);
    color: white;
}

.carousel-images {
    padding-left: 20px;
    padding-right: 20px;
    width: 1100px;
    height: 200px;
}

#button-name-home {
    color: black;
    border: none;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: x-large;
    margin-top: 3%;
}

.tiovivo img {
    object-fit: cover;
    height: 700px;
}

/* FOOTER */
.blockquote-footer{
    text-align: center;
  }


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(235, 235, 235, 0.6);
    height: calc(100vh + 30px);
    width: 100%;
    text-align: center;
    display: flex;
    z-index: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

  .overlay img {
      width: 30%;
  }