.form-style{
    margin-right:50px;
    margin-left:50px;
    display: flex;
    justify-content: center;
    
}
.form-style button{
    margin-top: 20px;
    margin-left:200px;
}
.form-edit{
    width: 100%;
}

.conteiner-profile{
    margin-top: 20px;
}

.button-profile{
    margin-top: 20px;
    margin-left: 35%;
    
}