.form-style{
    margin-right:50px;
    margin-left:50px;
    display: flex;
    justify-content: center;
    
}
.form-style button{
    margin-top: 20px;
    margin-left:200px;
}
.form-edit{
    width: 100%;
}

.conteiner-profile{
    margin-top: 20px;
}

.button-profile{
    margin-top: 20px;
    margin-left: 35%;
    
}
.button-name{
    background-color: #060606; 
    color: rgb(250, 250, 250);
    border: none;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 4px;
    margin-right: 35px;
}